<%= form_for @localizacao do |f| %>

	<p>
		<%= f.label :latitude %>
		<%= f.text_field :latitude %>
		<%= error_tag @localizacao, :latitude %>
	</p>

	<p>
		<%= f.label :longitude %>
		<%= f.text_field :longitude %>
		<%= error_tag @localizacao, :longitude %>
	</p>	
	
	<div class="form-actions">
		<%= f.submit class: "btn btn-info" %>
	</div>

<% end %>