<h1><%= t'.titulo' %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t'.latitude' %></th>
      <th><%= t'.longitude' %></th>
      <th><%= t'table.show' %></th>
      <th><%= t'table.edit' %></th>
      <th><%= t'table.delete' %></th>
    </tr>
  </thead>

  <tbody>
    <% @localizacoes.each do |localizacao| %>
      <tr>
        <td><%= localizacao.latitude %></td>
        <td><%= localizacao.longitude %></td>
        <td><%= link_to t('links.show'), localizacao %></td>
        <td><%= link_to t('links.edit'), edit_localizacao_path(localizacao) %></td>
        <td><%= link_to t('links.delete'), localizacao, method: :delete, data: { confirm: t('message.are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('links.new_localizacao'), new_localizacao_path %>