<% if @equipe.errors.any? %>
	<div>
		<h2><%= t 'message.form.error' %></h2>
	</div>
<% end %>

<%= form_for @equipe do |f| %>

	<p>
		<%= f.label :nome %>
		<%= f.text_field :nome %>
		<%= error_tag @equipe, :nome %>
	</p>

	<%= f.submit %>

<% end %>