<div class="span12 white padding">

  <fieldset>
    <legend><%= t'.titulo' %></legend>

  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t'.nome' %></th>
        <th><%= t'table.show' %></th>
        <th><%= t'table.edit' %></th>
        <th><%= t'table.delete' %></th>
      </tr>
    </thead>

    <tbody>
      <% @equipes.each do |equipe| %>
        <tr>
          <td><%= equipe.nome %></td>
          <td><%= link_to image_tag("/imgs/icons/show_icon.png"), equipe %></td>
          <td><%= link_to image_tag("/imgs/icons/edit_icon.png"), edit_equipe_path(equipe) %></td>
          <td><%= link_to image_tag("/imgs/icons/delete_icon2.png"), equipe, method: :delete, data: { confirm: t('message.are_you_sure') } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</fieldset>

<%= link_to t('links.new_equipe'), new_equipe_path, class: "btn" %>

</div>

