<div class="span12 white padding">

  <fieldset>
    <legend><%= t'.titulo' %></legend>

    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= t'.razao_social' %></th>
          <th><%= t'.cnpj' %></th>
          <th><%= t'.telefone' %></th>
          <th><%= t'.endereco' %></th>
          <th><%= t'table.show' %></th>
          <th><%= t'table.edit' %></th>
          <th><%= t'table.delete' %></th>
        </tr>
      </thead>

      <tbody>
        <% @empresas.each do |empresa| %>
          <tr>
            <td><%= empresa.razao_social %></td>
            <td><%= empresa.cnpj %></td>
            <td><%= empresa.telefone %></td>
            <td><%= empresa.endereco %></td>
            <td><%= link_to image_tag("/imgs/icons/show_icon.png"), empresa %></td>
            <td><%= link_to image_tag("/imgs/icons/edit_icon.png"), edit_empresa_path(empresa) %></td>
            <td><%= link_to image_tag("/imgs/icons/delete_icon2.png"), empresa, method: :delete, data: { confirm: t('message.are_you_sure') } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </fieldset>

<%= link_to t('links.new_empresa'), new_empresa_path, class: "btn" %>
</div>

